{% extends 'layout.html' %}

{% block content %}
	<div class='container'>
		<a href="https://github.com/manrajpannu">
			<h1 id="visualize-twitter" >visualize-twitter</h1>
		</a>

		<h4 style="padding-top: 20px;">Visualize Twitter is a a full-stack twitter scraper made using the Flask framework for Python 🐦</h4>

					<p>A beginner project using the following stack:</p>

		<ul>
			<li>Python</li>
			<li>Flask</li>
			<li>HTML/CSS</li>
		</ul>
		
		<p>
			Visualize Twitter works by scraping recent images from twitter based on search terms.
		</p>
		<h4 style="padding-top: 20px;">How to use</h4>

		<p>Search a keyword of your choosing, and wait around 30 seconds. If you don't see a change, refresh the page.</p>

		<h4 style="padding-top: 20px;">What I learned</h4>

		<ul>
			<li>Front-end programming languages: HTML, CSS</li>
			<li>Back-end programming languages and frameworks: Python, Flask</li>
			<li>Used BeautifulSoup, datetime, json modules to scrape twitter for relevant images</li>
		</ul>		

	</div>

{% endblock content %}
